class Config:
    redis_host = "localhost"
    redis_port = 6379
    redis_db = 3
    challenge_id = "Learning2RunChallengeNIPS2017"
    redis_namespace = challenge_id
    CROWDAI_TOKEN= "YOUR-CROWDAI-TOKEN-GRADER-TOKEN-HERE"
    CROWDAI_GRADER_URL = "YOUR-CROWDAI-GRADER-URL"
