class Config:
    challenge_id = "AIGeneratedMusicChallenge"
    redis_host = "localhost"
    redis_port = 6379
    redis_password = False
    redis_db = 4
    api_service_port = 9271
    redis_namespace = challenge_id
    CROWDAI_TOKEN="YOUR-CROWDAI-TOKEN"
    CROWDAI_GRADER_URL = "CROWDAI-GRADER-URL"

    AWS_S3_BUCKET = " "
    S3_UPLOAD_PATH = " "
    AWS_ACCESS_KEY_ID = " "
    AWS_SECRET_ACCESS_KEY = " "

    TEMP_STORAGE_DIRECTORY_PATH = "temp/"

    DEBUG_MODE=True
